.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-35 { margin-top: 35px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-50 { margin-top: 50px !important; }

.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-50 { margin-bottom: 50px !important; }

.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-25 { margin-right: 25px !important; }

.mt--5 { margin-top: -5px !important; }
.mt--10 { margin-top: -10px !important; }
.mt--15 { margin-top: -15px !important; }
.mt--20 { margin-top: -20px !important; }
.mt--25 { margin-top: -25px !important; }

.w-75px { width: 75px !important; }
.w-100px { width: 100px !important; }
.w-125px { width: 125px !important; }
.w-150px { width: 150px !important; }
.w-200px { width: 200px !important; }
.w-250px { width: 250px !important; }

.min-w-75px { min-width: 75px !important; }
.min-w-100px { min-width: 100px !important; }
.min-w-150px { min-width: 150px !important; }
.min-w-200px { min-width: 200px !important; }
.min-w-250px { min-width: 250px !important; }

.v-align-top { vertical-align: top !important; }

.h-full { height: 100% !important; }

.no-padding { padding: 0 !important; }

.hidden { display: none; }

.text-small { font-size: 12px; }